In [2]:
print('I will display the numbers 1 through 5.')
for num in [1, 2, 3, 4, 5]:
    print(num)

I will display the numbers 1 through 5.
1
2
3
4
5

In [4]:
print('I will display the numbers 1 through 9.')
for num in [1, 3, 5, 7, 9]:
    print(num)

I will display the numbers 1 through 9.
1
3
5
7
9

In [5]:
# THIS PROGRAM ALSO DEMONSTRATES A SIMPLE FOR LOOP THAT USES A LIST OF STRINGS
for name in ['WINKEN', 'BLINKEN', 'NOD']:
    print(name)

WINKEN
BLINKEN
NOD

In [6]:
for num in range(5):
    print(num)

0
1
2
3
4

In [7]:
for num in [0, 1, 2, 3, 4]:
    print(num)

0
1
2
3
4

# PROGRAM 4-7 SIMPLE LOOP4.PY

In [8]:
# THIS PROGRAM DEMONSTRATES HOW THE RANGE FUNCTION CAN BE USED WITH A FOR LOOP
# PRINT A MESSAGE FIVE TIMES.

In [9]:
for x in range(5):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [11]:
for num in range(1,5):
    print(num)

1
2
3
4

In [12]:
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

In [14]:
# This program uses a loop to display a tabe showing the numbers 1 through 10 and their squares
# Print the table headings.
print('Number\tsquare')
print('----------')

Number	square
----------

In [16]:
# Print the numbers 1 through 10 and their squares.
for number in range(1, 11):
    square = number **2
    print(f'{number}\t{square}')

1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100